<html>
<head>
    {% if current_user.is_authenticated == true %}
      {% if current_user.user_obj()['sponsor'] == false %}
      <script> console.log('APOIE O SIMRACING VALLEY')</script>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2262399589748995",
            enable_page_level_ads: true
       });
      </script>
      {% endif %}
      {% else %}
      <script> console.log('APOIE O SIMRACING VALLEY')</script>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2262399589748995",
            enable_page_level_ads: true
       });
      </script>
      {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113819959-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113819959-1');
    </script>
		<title>Simracing Valley - Tornando o AV Brasileiro cada vez mais forte</title>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
		<meta name="robots" content="index, follow" >
		<meta name="keywords" content="HTML5 Template" >
		<meta name="description" content="Simracing Valley - Tornando o AV Brasileiro cada vez mais forte" >
		<meta name="author" content="Vladimir Azarushkin">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#2a2b2f">

		<!-- FAVICONS -->
    <link rel="shortcut icon" href="images/favicon/favicon.png">
    <link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
    <link rel="icon" sizes="192x192" href="images/favicon/icon-192x192.png">

<!-- CSS -->
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:500,600,300%7COpen+Sans:400,300,700" rel="stylesheet" type="text/css">

    <!-- REVOSLIDER CSS SETTINGS -->

    <!-- ANGULAR SETTINGS FILES -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
    <script src='static/js/app.js'></script>
    <script src='static/js/dirPagination.js'></script>
    <!-- JQUERY -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="static/css/bootstrap.css">

    <!-- REVOLUTION STYLE SHEETS -->
    <link href="static/revo-slider/css/settings-custom.css" rel="stylesheet" type="text/css">

    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css" href="static/revo-slider/css/navigation-skins/hermes-custom.css">

    <!-- ICONS ELEGANT FONT & FONT AWESOME & LINEA ICONS  -->
		<link rel="stylesheet" href="static/css/icons-fonts.css" >

    <!-- CSS THEME -->
		<link rel="stylesheet" href="static/css/style.css" >

    <!-- ANIMATE -->
		<link rel="stylesheet" href="static/css/animate.min.css">

    


    <!-- IE Warning CSS -->
		<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie-warning.css" ><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie8-fix.css" ><![endif]-->

    <!-- Magnific popup, Owl Carousel Assets in style.css -->

<!-- CSS end -->

<!-- JS begin some js files in bottom of file-->

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <style>

      .srv_online {
        -moz-box-shadow: 10px 6px 9px 0px #050505;
        -webkit-box-shadow: 10px 6px 9px 0px #050505;
        box-shadow: 10px 6px 9px 0px #050505;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #288742), color-stop(1, #79eb36));
        background:-moz-linear-gradient(top, #288742 5%, #79eb36 100%);
        background:-webkit-linear-gradient(top, #288742 5%, #79eb36 100%);
        background:-o-linear-gradient(top, #288742 5%, #79eb36 100%);
        background:-ms-linear-gradient(top, #288742 5%, #79eb36 100%);
        background:linear-gradient(to bottom, #288742 5%, #79eb36 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#288742', endColorstr='#79eb36',GradientType=0);
        background-color:#288742;
        -moz-border-radius:42px;
        -webkit-border-radius:42px;
        border-radius:42px;
        border:3px solid #3f8a47;
        display:inline-block;
        font-size: 14px;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        padding:5px 20px;
        text-decoration:none;
      }
      .srv_online:hover {
        color:#ffffff;
      }
      .srv_online:active {
        position:relative;
        top:1px;
      }
      .srv_offline {
      -moz-box-shadow: 10px 6px 9px 0px #050505;
      -webkit-box-shadow: 10px 6px 9px 0px #050505;
      box-shadow: 10px 6px 9px 0px #050505;
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #852828), color-stop(1, #eb3636));
      background:-moz-linear-gradient(top, #852828 5%, #eb3636 100%);
      background:-webkit-linear-gradient(top, #852828 5%, #eb3636 100%);
      background:-o-linear-gradient(top, #852828 5%, #eb3636 100%);
      background:-ms-linear-gradient(top, #852828 5%, #eb3636 100%);
      background:linear-gradient(to bottom, #852828 5%, #eb3636 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#852828', endColorstr='#eb3636',GradientType=0);
      background-color:#852828;
      -moz-border-radius:42px;
      -webkit-border-radius:42px;
      border-radius:42px;
      border:3px solid #8a3f3f;
      font-size: 14px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      padding:5px 20px;
      text-decoration:none;
    }
    .srv_offline:hover {
      color:#ffffff;
    }
    .srv_offline:active {
      position:relative;
      top:1px;
    }


      ul {
        padding-left: 0px;
      }
      div.user {
        display: block;
        height: 200px;
        padding: 5px;
        border: 2px solid black;        
        background-color: white; 
        overflow: auto;
      }
      div.driver {
      font-size: 12px;
      }
      div.driver:hover {
      background: #9fdaf5;
       }

      .under
        {
            position:inherit;
            left:0px;
            top:0px;
            z-index:-2;
        }
        .over
        {
            position:absolute;
            left:0px;
            top:0px;
            z-index:-1;
        }

      
      </style>
      <header id="nav" class="header header-1 no-transparent mobile-no-transparent">

          {% include 'header.html' %}
           <div class="header-wrapper">
            <div class="container-m-30 clearfix">
              <div class="logo-row">

            <!-- LOGO -->
                <div class="logo-container-2">
                  <div class="logo-2">
                    <a href="http://www.simracingvalley.com" class="clearfix">
                      <img src="static/images/logo.png" class="logo-img" alt="Logo">
                    </a>
                  </div>
                </div>
                </div>
              </div>

          <!-- MAIN MENU CONTAINER -->
          <div class="main-menu-container">
            <div class="container-m-30 clearfix">
              <!-- MAIN MENU -->
              <div id="main-menu" >
                 <nav class="navbar navbar-default">

                    <!-- MAIN MENU LIST -->
                    <nav class="collapse collapsing navbar-collapse right-1024">
                      <ul class="nav navbar-nav">

                        <!-- MENU ITEM -->
                        <!--<div class="main-menu-container">-->

                          <div class="container-m-30 clearfix">

                              <!-- MAIN MENU -->
                             <div id="main-menu">
                                <div class="navbar navbar-default" role="navigation">



          <!-- END header-wrapper -->

        </header>
	</head>
	<body>
    <div class='container'>


<div class="col-lg-8 col-md-offset-2" style="margin-top: 12%">
  <div class="row">
    <div class="font-16 bg-red font-white">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div><b>{{ message }}</b></div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="row">

    <center><h2>Inscreva-se para um evento do Simracing Valley</h2>
    <h4>Escolha a corrida que você deseja participar e clique em "Inscreva-se para a Corrida".</h4>
    <h3>Ao clicar no botão, você terá acesso à senha do Servidor.</h3></center>  
  </div> 
  {% for scheduledRace in agenda %}
  {% if scheduledRace.Started == true and scheduledRace.Online == false %}
  {% else %}
  <div class="row" style="position: relative">
    <img src="{{ url_for('login') }}static/images/agenda/series/{{scheduledRace.cars[2][1:]}}.png" class="over">
    <img src="{{ url_for('login') }}static/images/agenda/tracks/{{scheduledRace.tracks[1]}}.png" class="under">
    <br>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
      {% if scheduledRace.official == true %}
      {% if scheduledRace.cdc == true %}
      <div style="padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%; background-image: linear-gradient(#009bdb, white);">
      <center style="font-style: italic; font-size: xx-large; color: aliceblue;"><strong>CORRIDA DOS CAMPEÕES</strong></center>
      <br>
      <p style="font-style: italic; font-size: xx-large;"><strong>Dia & Hora: </strong>{{ scheduledRace.date }} {{ scheduledRace.time }} <a href="#" {% if scheduledRace.Online %}class="srv_online">ONLINE {% else %}class="srv_offline">OFFLINE{% endif %}</a></p>
      <p style="background: red; color: white">Marcado por: OFICIAL</p>
      {% else %}
      <div style="padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%; background-image: linear-gradient(#009bdb, white);">
      <p style="font-style: italic; font-size: xx-large;"><strong>Dia & Hora: </strong>{{ scheduledRace.date }} {{ scheduledRace.time }} <a href="#" {% if scheduledRace.Online %}class="srv_online">ONLINE {% else %}class="srv_offline">OFFLINE{% endif %}</a></p>
      <p style="background: red; color: white">Marcado por: OFICIAL</p>
      {% endif %}

      {% else %}
      <div style="padding-top: 2%; padding-bottom: 2%; padding-left: 1%; padding-right: 1%; background-image: linear-gradient(#009bdb, white);">
      <p style="font-style: italic; font-size: xx-large;"><strong>Dia & Hora: </strong>{{ scheduledRace.date }} {{ scheduledRace.time }} <a href="#" {% if scheduledRace.Online %}class="srv_online">ONLINE {% else %}class="srv_offline">OFFLINE{% endif %}</a></p>
      <p>Marcado por: <a href="{{ url_for('driver', userid=scheduledRace.user.id) }}">{{scheduledRace.user.username}}</a></p>
      {% endif %}
      {% if user._id == scheduledRace.user.id or user.admin == true %}
      <form action="{{url_for('closerace', raceid=scheduledRace._id)}}" onsubmit="return confirm('Você deseja deletar esse evento?\n\nI - Servidor Online será desligado! (E não haverá processamento das informações!)\nII - Servidor não iniciado será excluído da agenda!');">
          <input class="btn btn-danger" type="submit" value="Fechar o Servidor"></input>
      </form>
      
      {% endif %}
      </div>
      
      
      <div class="row">
        <div class="row">
          <div class="col-lg-12">
            <div class="collapse" id="collapseExample{{scheduledRace._id}}">
              <ul>
                <li><small><strong>Visão do Piloto: </strong>{{ scheduledRace.carviews[0] }} </small></li> 
                <li><small><strong>Regras: </strong>{{ scheduledRace.flags[0] }} </small></li>
                <li><small><strong>Setup Fixo: </strong>{{ scheduledRace.fixsetups[0] }} </small></li>
                <li><small><strong>Consumo de Pneus e Combustível: </strong>{{ scheduledRace.fueltires[0] }} </small></li>
                <li><small><strong>Jogos de Pneus disponíveis: </strong>{{ scheduledRace.tiresets[0] }} </small></li>
                <li><small><strong>Emborrachamento da Pista: </strong>{{ scheduledRace.trackconds[0] }} </small></li>
                <li><small><strong>Progressão do Emborrachamento: </strong>{{ scheduledRace.trackprogresses[0] }} </small></li>
                <li><small><strong>Largada: </strong>{{ scheduledRace.starttypes[0] }} </small></li>
                <li><small><strong>Horário virtual: </strong>{{ scheduledRace.starttime[0] }}: {{ scheduledRace.starttime[1]}} </small></li>
                <li><small><strong>Ajudas disponíveis: </strong>
                  {% if (scheduledRace.help[0] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>Controle de tração:</strong> {{ scheduledRace.help[0] }}</li> 
                  </ul>
                  {% endif %}
                  {% if (scheduledRace.help[1] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>ABS:</strong> {{ scheduledRace.help[1] }}</li> 
                  </ul>
                  {% endif %}
                  {% if (scheduledRace.help[2] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>Controle de Estabilidade:</strong> {{ scheduledRace.help[2] }}</li> 
                  </ul>
                  {% endif %}
                  {% if (scheduledRace.help[3] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>Marcha Auto:</strong> {{ scheduledRace.help[3] }}</li> 
                  </ul>
                  {% endif %}
                  {% if (scheduledRace.help[4] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>Embreagem Auto:</strong> {{ scheduledRace.help[4] }}</li> 
                  </ul>
                  {% endif %}
                  {% if (scheduledRace.help[5] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>Invulnerabilidade:</strong> {{ scheduledRace.help[5] }}</li> 
                  </ul>
                  {% endif %}
                  {% if (scheduledRace.help[6] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>Contra Esterço:</strong> {{ scheduledRace.help[6] }}</li> 
                  </ul>
                  {% endif %}
                  {% if (scheduledRace.help[7] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>Ajuda de Direção:</strong> {{ scheduledRace.help[7] }}</li> 
                  </ul>
                  {% endif %}
                  {% if (scheduledRace.help[8] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>Ajuda de Frenagem:</strong> {{ scheduledRace.help[8] }}</li> 
                  </ul>
                  {% endif %}
                  {% if (scheduledRace.help[9] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>Recuperação de Rodada:</strong> {{ scheduledRace.help[9] }}</li> 
                  </ul>
                  {% endif %}
                  {% if (scheduledRace.help[10] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>Pitstop Auto:</strong> {{ scheduledRace.help[10] }}</li> 
                  </ul>
                  {% endif %}
                  {% if (scheduledRace.help[11] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>Auto Levantar carro:</strong> {{ scheduledRace.help[11] }}</li> 
                  </ul>
                  {% endif %}
                  {% if (scheduledRace.help[12] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>Auto Blip:</strong> {{ scheduledRace.help[12] }}</li> 
                  </ul>
                  {% endif %}
                  {% if (scheduledRace.help[13] | int) > 0 %}
                  <ul style="padding-left: 20px">
                    <li><strong>Linha de direção:</strong> {{ scheduledRace.help[13] }}</li> 
                  </ul>
                  {% endif %}
                  </small></li>
                <li><small><strong>Intensidade do dano: </strong>{{ scheduledRace.damages[0] }} </small></li>
                <li><small><strong>Practice: </strong>{{ scheduledRace.session[0] }} minutos </small></li>
                <li><small><strong>Qualify: </strong>{{ scheduledRace.session[1] }} minutos</small></li>
                <li><small><strong>Voltas de Qualify: </strong>{{ scheduledRace.session[2] }} voltas</small></li>

                {% if scheduledRace.warmups[0] == 'Sim' %}
                <li><small><strong>Warmup: </strong>{{ scheduledRace.session[3] }} minutos </small></li>
                {% endif %}

                {% if scheduledRace.racefinishes[1] == '2' or scheduledRace.racefinishes[1] == '3' %}
                <li><small><strong>Tempo de Corrida: </strong>{{ scheduledRace.session[4] }} minutos</small></li>
                {% endif %}

                {% if scheduledRace.racefinishes[1] == '1' or scheduledRace.racefinishes[1] == '3' %}
                <li><small><strong>Voltas: </strong>{{ scheduledRace.session[5] }} voltas</small></li>
                {% endif %}
              </ul>
              <br>
                    
            </div>
          </div>
          <div class="col-lg-12" style="font-style: italic; font-size: large;">INSCRITOS:</div>
            <div class="col-lg-12 user">
              {% for participant in scheduledRace.participants|sort(attribute='points', reverse=true) %}
              <a  href="{{ url_for('driver', userid=participant.userid) }} "><div class="driver"><img src="{{url_for('login')}}static/images/{{participant.classimg}}"> | <strong>{{ participant.username }}</strong> | Rank: {{participant.rankpos}} | {{participant.points}} pts | {% if participant.incidents > 2 %} <strong style="color: red;"> {{participant.incidents}} IP's</strong> {% else %} <strong style="color: green;">{{participant.incidents}} IP's </strong>{% endif %} | {% if participant.sponsor %} <i class="fa fa-star"></i>{% endif %}
            </div></a>
            {% else %}
            <div>Ninguém se inscreveu para esse evento até agora!</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <br>
      <div class="row" style="position: relative">
        <div>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample{{scheduledRace._id}}" aria-expanded="false" aria-controls="collapseExample">Ver detalhes do servidor</button>
        </div>
        {% if scheduledRace.open == false %}
        <form action="{{url_for('enterrace', raceid=scheduledRace._id)}}">
        <input class="btn btn-danger" style="width: 100%; margin-top: 1%;" type="submit" value="Ainda não é possível se inscrever para essa corrida" />
        </form>
        {% else %}
        {% if scheduledRace.cdc == true %}
        <form action="{{url_for('enterrace', raceid=scheduledRace._id)}}">
          <input class="btn btn-warning" style="width: 100%; margin-top: 1%;" type="submit" value="Quero me inscrever para a CDC" />
        </form>
        {% else %} 
        {% if scheduledRace.public == false %}
        <form action="#">
          <input class="btn btn-danger" style="width: 100%; margin-top: 1%;" type="submit" value="Esse evento não é Público, entre em contato com {{scheduledRace.user.username}}" />
        </form>
        {% else %}
        <form action="{{url_for('enterrace', raceid=scheduledRace._id)}}">
          <input class="btn btn-success" style="width: 100%; margin-top: 1%;" type="submit" value="Inscreva-se para a corrida e obtenha a senha" />
        </form>
        
        {% endif %}
        {% endif %}
        {% endif %}
        <br>
      </div>
    </div>
    
              
  </div>
  <hr style="border-top: 3px solid #11a2de">
    {% endif %}
    {% endfor %} 
    }
</div>
</body>
        
</html>