<h1>Olá {{ username }}</h1>

<p>Foi processado um pedido de redefinição de email de sua conta no Simracing Valley</p>
<p>Se o pedido não foi feito por você, apenas ignore essa mensagem.</p>
<p>A última vez que sua senha foi atualizada foi em {{ lastpassdate }}</p>
<p>Clique no link para redefinir sua senha.</p>  
<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
<p></p>
<p>Considerações</p>
 <p>Ramon Barros - Executivo Simracing Valley</p>
<p>--</p>
<p>Dúvidas ou Comentário? Email contato@simracingvalley.com</p>