<div class="footer">

				<div class="footer-top"></div>
				
				<div class="footer-content">

					<!-- BEGIN .panel -->
					<div class="panel">
						<!--<h2>MENU</h2>
						<div class="top-right"><a href="#">View all</a></div>
						<div class="panel-content">
							
							<div class="d-articles">
								<div class="item">
									<div class="item-header">
										<a href="post.html"><img src="images/photos/image-96.jpg" alt="" /></a>
									</div>
									<div class="item-content">
										<h4><a href="post.html">Fermentum hac consectetur</a></h4>
										<p>Sagittis ut eleifend taciti eleifend, mauris primis...</p>
									</div>
								</div>
								<div class="item">
									<div class="item-header">
										<a href="post.html"><img src="images/photos/image-97.jpg" alt="" /></a>
									</div>
									<div class="item-content">
										<h4><a href="post.html">Fermentum hac consectetur</a></h4>
										<p>Sagittis ut eleifend taciti eleifend, mauris primis...</p>
									</div>
								</div>
								<div class="item">
									<div class="item-header">
										<a href="post.html"><img src="images/photos/image-98.jpg" alt="" /></a>
									</div>
									<div class="item-content">
										<h4><a href="post.html">Fermentum hac consectetur</a></h4>
										<p>Sagiaaasttis ut eleifend taciti eleifend, mauris primis...</p>
									</div>
								</div>
							</div>
							
						</div>-->
					<!-- END .panel -->
					</div>
						
					<!-- BEGIN .panel -->
					<div class="panel">
						<!--<h2>Contact Information</h2>
						<div class="panel-content">
							
							<div>
								<h4>What do we stand for ?</h4>
								<p>Soleat aperiam ex pri, at pericula constituam efficiantu per, voluptaria intellegam eu nec. Duo modus homero vivendum an, facete timeam ne eum.</p>

								<a href="mailto:revelio@oursite.com" class="icon-line">
									<i class="fa fa-comment"></i><span>revelio@oursite.com</span>
								</a>
			
								<span class="icon-line">
									<i class="fa fa-map-marker"></i><span>949 West Grassland Drive, UT 84003</span>
								</span>
			
							</div>
							
						</div>-->
					<!-- END .panel -->
					</div>
					
					<!-- BEGIN .panel -->
					<div class="panel">
						<!--<h2>Tag Cloud</h2>
						<div class="panel-content">
							
							<div class="tagcloud">
								<a href="#">sapien</a><a href="#">scelerisque</a><a href="#">sed</a><a href="#">sem</a><a href="#">senectus</a><a href="#">sit</a><a href="#">sodales</a><a href="#">sollicitudin</a><a href="#">tellus</a><a href="#">tempus</a><a href="#">tincidunt</a><a href="#">tristique</a><a href="#">ullamcorper</a><a href="#">urna</a><a href="#">ut</a><a href="#">varius</a><a href="#">vel</a><a href="#">vivamus</a><a href="#">viverra</a><a href="#">volutpat</a>
							</div>
							
						</div>-->
					<!-- END .panel -->
					</div>

				</div>

				<div class="footer-bottom">
					<div style="color: #fff" class="left">&copy; Copyright 2018 <strong>Simracing Valley</strong></div>
					<div class="right">
						<ul>
							<!--<li><a href="#">Homepage</a></li>-->
							
						</ul>
					</div>
					<div class="clear-float"></div>
				</div>
			<!-- END .footer -->
			</div>
		</div>
		<script type='text/javascript' src='../static/js/jquery.min.js'></script>
		<script type='text/javascript' src='../static/js//modernizr.custom.50878.js'></script>
		<script type='text/javascript' src='../static/js/iscroll.js'></script>
		<script type='text/javascript' src='../static/js/dat-menu.js'></script>
		<script type='text/javascript'>
			var strike_autostart = false;
		</script>
		<script type='text/javascript' src='../static/js/theme-script.js'></script>
		
		
		<script> 
		//POPUP JQUERY!!
		$(function() {
		//----- OPEN
		$('[data-popup-open]').on('click', function(e) {
		var targeted_popup_class = jQuery(this).attr('data-popup-open');
		$('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
		e.preventDefault();
		});
		//----- CLOSE
		$('[data-popup-close]').on('click', function(e) {
		var targeted_popup_class = jQuery(this).attr('data-popup-close');
		$('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);
		e.preventDefault();
		});
		});
		</script>