<!DOCTYPE HTML>
<html lang = "en">
	<head>
		<title>Revelio Theme | Game single</title>
		{% include 'head-revelio.html' %}
	</head>
	<body class="no-slider">
	<!-- <body class="has-top-menu"> -->
		<!-- BEGIN #slider-imgs -->
		<div id="slider-imgs">
			<div class="featured-img-box" style="background-image: url(images/photos/image-90.jpg);">
				<div id="featured-img-1" class="featured-img"></div>
				<div id="featured-img-2" class="featured-img invisible"></div>
				<div id="featured-img-3" class="featured-img invisible"></div>
				<div id="featured-img-4" class="featured-img invisible"></div>
			</div>
		<!-- END #slider-imgs -->
		</div>

		{% include 'menu-revelio.html' %}
				<div id="main-box" class="full-width">
					
					<div id="main" itemscope="" itemtype="http://data-vocabulary.org/Review">
						<div class="game-info-left" style="margin-top: -110px">
							<img itemprop="image" src="images/posters/2351232-tomb_raider.jpg" class="game-poster" alt="" />
							<div class="game-info-details">
								<div class="game-info-buttons">
									<a href="#" class="defbutton green"><i class="fa fa-bell"></i>Pedir para participar</a>
									<a href="games-single-video-single.html" class="defbutton"><i class="fa fa-film"></i>View Trailer</a>
								</div>
								<div class="game-info-rating">
									<h3>Classificação</h3>
									<hr />
									<strong itemprop="rating">1st</strong>
									<div class="rating-stars">
										<div class="rating-stars-inner" style="width: 100%;"></div>
									</div>
									
								</div>
								
								<div class="game-info-graph">
									<div>
										<span>Data de Criação da Equipe</span>
										<strong itemprop="datePublished" content="2013-03-05">01-01-2014</strong>
									</div>
									<div>
										<span>Chefe de Equipe</span>
										<strong>Ramon Barros</strong>
									</div>
									<div>
										<span>Teamspeak // Discord</span>
										<strong>000.000.000:00000</strong>
									</div>
									
									<meta itemprop="reviewer" content="Datcouch.com">
								</div>
								<div class="pegi">
									<div class="pegi-desc">
										<img src="images/pegi/bad-language.gif" class="pegi-tool strike-tooltip" title="Bad language" alt="" />
									</div>
									<div class="clear-float"></div>
								</div>
							</div>
						</div>
						<div class="game-info-right">
							<div class="game-menu" style="border-bottom: 5px solid #921913;">
								<div class="game-overlay-info">
									<h1 itemprop="itemreviewed">Mondial Racing</h1>
									
								</div>
								<ul>
									<li class="active" style="background-color: #921913;"><a href="games-single.html"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;Informação</a></li>
									
								</ul>
							<!-- END .game-menu -->
							</div>

							

							<!--<h2><span>Participação nos Campeonatos</span></h2>
							<div class="content-padding">
								<!-- BEGIN .photo-blocks -->
								<!--<div class="photo-blocks">
									<ul>
										<li><a href="photo-gallery-single.html" class="article-image-out"><span class="image-comments"><span>101</span></span><span class="article-image"><img src="images/photos/image-41.jpg" width="128" height="128" alt="" title="" /></span></a></li>
										
									</ul>
									<div class="clear-float"></div> -->
								<!-- END .photo-blocks -->
								<!--</div>
							</div> -->

							<h2><span>Integrantes da Equipe (01)</span></h2>
							<div class="content-padding">
								<ul class="profile-friends-list">
									<li>
										<a href="user-single.html" class="avatar online user-tooltip">
											<img src="images/photos/avatar-1.jpg" class="setborder" title="" alt="" />
										</a>
									</li>
									
								</ul>
								<div class="clear-float"></div>
							</div>

							<h2><span></span></h2>
							<!-- BEGIN .content-padding -->
							<div class="content-padding">
								
								

						</div>

						<div class="clear-float"></div>
						
					</div>
					
					<div class="clear-float"></div>
					
				</div>
			</div>
		</div>
			
		<div class="clear-float"></div>
		
		<div class="wrapper">
			<!-- BEGIN .footer -->
			{% include 'footer-revelio.html' %}
	</body>
</html>